/* normalize css */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: #fefefe;
    background-color: #424242;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #d920d8;
}
/* typography */

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.8rem;
}

h4{
    font-size: 2.4rem;
}

h5{
    font-size: 1.8rem;
}

h6{
    font-size: 1.3rem;
}

/* grid system */

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.6rem;
    height: 100%;
}

.flex{
    display: flex;
    align-items: center;
}

.flex-center{
    justify-content: center;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.flex-col{
    flex-direction: column;
}

.flex1{
    flex: 1;
}

/* nav menu */

nav{
    height: 10rem;
}

nav ul{
    height: 100%;
}

nav li{
    height: 100%;
    font-size: 1.8rem;
}

nav a{
    height: 100%;
    margin-left: 2.4rem;
    border-top: 3px solid transparent;
    margin-bottom: 3px;
}

nav a:hover{
    border-top-color: #d920d8;
}

/* home--hero */
.hero{
    width: 100vw;
    height: 100vh;
    background-image: url("/img/hero-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10rem;
    padding-top: 10rem;
    text-align: center;
}

.hero h1{
    font-size: 9.5rem;
    letter-spacing: .1rem;
}

.hero p{
    font-size: 2.4rem;
    font-style: italic;
}

.mobile{
    display: none;
}