/* normalize css */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: #fefefe;
    background-color: #424242;
    position: relative;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d920d8;
}

/* typography */

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.3rem;
}

.serif {
    font-family: 'Times New Roman', Times, serif;
}

/* grid system */

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.6rem;
    height: 100%;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex1 {
    flex: 1;
}

.flex-just-bet{
    justify-content: space-between;
}

/* buttons */

.btn-box {
    margin: 2rem;
}

.btn {
    padding: 2rem 3rem;
    background: rgb(110, 40, 141);
    background: linear-gradient(0deg, rgba(110, 40, 141, 1) 25%, rgba(152, 37, 170, 1) 55%, rgba(214, 32, 213, 1) 100%);
    border: 1px solid rgb(110, 40, 141);
    border-radius: .5rem;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin: 1rem;
    white-space: nowrap;
}

.btn--nude {
    padding: 2rem 3rem;
    background-color: transparent;
    border: 1px solid #fefefe;
    border-radius: .5rem;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin: 1rem;
    white-space: nowrap;
}

.btn:hover, .btn--nude:hover {
    background: #fefefe;
    color: #424242;
}

/* nav menu */

nav {
    height: 10rem;
}

nav .wrapper{
    justify-content: space-between;
}

nav img{
    width: 100%;
}

nav ul {
    height: 100%;
}

nav li {
    height: 100%;
    font-size: 1.8rem;
}

nav a {
    height: 100%;
    margin-left: 2.4rem;
    border-top: 3px solid transparent;
    margin-bottom: 3px;
}

nav a:hover {
    border-top-color: #d920d8;
}

.menu-container-mobile {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 10% 0;
}

.menu-container {
    display: none;
    cursor: pointer;
    z-index: 9;
}

.bar1, .bar2, .bar3 {
    width: 3.5rem;
    height: .2rem;
    background-color: #fefefe;
    margin: 1rem 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 8px);
    transform: rotate(-45deg) translate(-9px, 8px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 800px) {
    .menu-container{
        display: inline-block;
    }

    .menu-container-desktop {
        display: none;
    }
    nav ul {
        height: 100vh;
        width: 100vw;
        background: #424242;
    }
    nav li {
        height: 5rem;;
        margin: 2rem 0;
    }
    nav a {
        height: 5rem;;
        margin-left: 0;
    }
}

/* home--hero */

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url("/img/hero-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10rem;
    padding-top: 10rem;
    text-align: center;
}

.hero h1 {
    font-size: 9.5rem;
    letter-spacing: .1rem;
}

.hero p {
    font-size: 2.4rem;
    font-style: italic;
    margin: 2rem;
}

@media screen and (max-width: 800px) {
    .hero h1 {
        font-size: 9vw;
    }
    .hero p {
        font-size: 4vw;
    }
}