<nav>
    <div class="wrapper flex">
        <div class="logo-container">
            <img src="/img/440-1.png" alt="440.gr" />
        </div>
        <ul class="menu-container-desktop flex flex-end flex1">
            <li class="flex">
                <a href="" class="flex">Book Your Event</a>
            </li>
            <li class="flex">
                <a href="" class="flex">Your Mix</a>
            </li>
            <li class="flex">
                <a href="" class="flex">Your Mastering</a>
            </li>
            <li class="flex">
                <a href="" class="flex">Latest News</a>
            </li>
        </ul>
        <ul class="menu-container-mobile flex flex-end flex1 flex-col">
            <li class="flex">
                <a href="" class="flex">Book Your Event</a>
            </li>
            <li class="flex">
                <a href="" class="flex">Your Mix</a>
            </li>
            <li class="flex">
                <a href="" class="flex">Your Mastering</a>
            </li>
            <li class="flex">
                <a href="" class="flex">Latest News</a>
            </li>
        </ul>
    </div>
</nav>